.editModal {
    position: absolute;
    top: 12rem;
    height: auto;
    width: 90%;
    margin: 0 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(39, 41, 49, 0.09) 0px 3px 12px;
    padding: 1rem;
    transition: var(--transition);
}

.editForm {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}

.editForm input {
    box-shadow: rgba(39, 41, 49, 0.09) 0px 3px 12px;
    min-width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    border: none;
}

.editForm button {
    padding: 1.6rem;
    font-size: 1.3rem;
    background-color: #08285ce3;
    color: white;
    border: none;
    border-radius: 5px;
    transition: var(--transition);
}

.entryContainer {
    height: 530px;
    margin: 1rem 1.5rem;
    border-radius: 7px;
    padding: 0.5rem;
    overflow: scroll;
}

.entryContainer button {
    background-color: transparent;
    border: none;
    margin-right: 1rem;
}

.entryContainer button:hover {
    cursor: pointer;
}

.entryContainer svg {
    color: rgba(30, 39, 74, 0.25);
    transition: var(--transition);
}

.entryContainer svg:hover {
    color: var(--highlight);
}

.entry {
    background-color: #ffffffa3;
    border-radius: 7px;
    box-shadow: rgba(39, 41, 49, 0.09) 0px 3px 12px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.entryFormToggle {
    padding: 1rem;
    font-size: 1.1rem;
    background-color: var(--highlight);
    color: white;
    border: none;
    border-radius: 5px;
    transition: var(--transition);
}

.logTitle {
    color: var(--secondary-color);
    margin-bottom: 4rem;
}

.mealForm {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    gap: 1rem;
}

.mealForm input {
    box-shadow: rgba(39, 41, 49, 0.09) 0px 3px 12px;
    min-width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    border: none;
}

.mealForm textarea {
    border: none;
    box-shadow: rgba(39, 41, 49, 0.09) 0px 3px 12px;
    padding: 0.8rem;
}

.mealForm button {
    padding: 1.6rem;
    font-size: 1.3rem;
    background-color: #08285ce3;
    color: white;
    border: none;
    border-radius: 5px;
    transition: var(--transition);
}

.mealForm button:hover {
    background-color: var(--highlight);
    cursor: pointer;
}

.notes {
    color: rgba(30, 39, 74, 0.705);
    font-size: 0.9rem;
    margin-top: 0.8rem;
}

.timestamp {
    margin: 1rem 0;
    color: rgba(30, 39, 74, 0.705);
    font-size: 0.75rem;
}

textarea {
    height: 100px;
}

@media screen and (min-width: 675px) {
    .entryContainer {
        height: 950px;
    }

    .editModal {
        max-width: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}