.profileImg {
    margin: 3rem auto;
}

.profileImg img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.editBtn {
    background-color: transparent;
    border: none;
    margin-right: 10rem;
}

.editBtn svg {
    color: rgba(30, 39, 74, 0.25);
}

.signOutBtn {
    background-color: transparent;
    border: none;
    letter-spacing: 0.3rem;
    font-weight: bold;
    color: var(--highlight);
    margin-top: 10rem
}

.signOutBtn svg {
margin-top: 3px;
}

.userInfo {
    width: 40%;
    margin: 0 auto;
}

.userInfo p {
    margin-bottom: 1rem;
    text-align: left;
    font-weight: bold;
    font-size: 0.9rem;
    color: rgba(30, 39, 74, 0.6);
    opacity: 0.5;
}