* {
    margin: 0;
    padding: 0;
}

.authContent {
    min-height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #F7971E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
    background: var(--primary-gradient); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.authContent h1 {
    color: var(--secondary-color);
    letter-spacing: 1.1rem;
}

.authContent p {
    display: inline-block;
    margin-right: .6rem;
    color: #000;
}

.authForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
    
}

.formInput {
    width: 95%;
    padding: 1.2rem;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #f8e59f48;
    color: #000;
    border: none;
    
}

.formToggle {
    border: none;
    background-color: transparent;
    color: var(--secondary-color);
    font-weight: bold;
}

.formToggle:hover {
    text-decoration: underline;
}

.formSubmitBtn {
    padding: 1.6rem;
    font-size: 1.3rem;
    width: 95%;
    background-color: #08285ce3;
    color: white;
    border: none;
    border-radius: 5px;
}