@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

:root {
  --secondary-color: #08285ce3;
  --highlight: #F7971E;
  --light-text: #ffffffa6;
  --primary-gradient: linear-gradient(to bottom left , #FFD200, #F7971E);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f7fd;
  font-family: 'Montserrat', sans-serif;
}

.content {
  padding-bottom: 120px;
}

@media screen and (max-width: 640px) {
  .content {
    margin-top: 3rem;
  }
}